.sidebar{
  width: 260px;
  flex-shrink: 0;
  background-color: rgba(22, 22, 22, 1);
  height: 100%;
  overflow: auto;
}

.sidebarItem{
  padding: .75em 1em;
  display: block;
  transition: background-color .15s;
  border-radius: 5px;
}
.sidebarItem:hover{
  background-color: rgba(255, 255, 255, .1);
}

.sidebarTitle{
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
}
.sidebarTitle span i{
  display: inline-block;
  width: 1.5em;
}
.sidebarTitle .toggle-btn{
  cursor: pointer;
  transition: transform .3s;
}
.sidebarItem.open > .sidebarTitle .toggle-btn{
  transform: rotate(180deg);
}
.sidebarContent{
  padding-top: .25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebarContent{
  height: auto;
}

.sidebar-item.plain{
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover{
  text-decoration: underline;
}
.sidebar-item.plain i{
  display: inline-block;
  width: 1.7em;
}